BasedOnStyle: LLVM
AlignEscapedNewlines: DontAlign
AlwaysBreakAfterDefinitionReturnType: All
BreakBeforeBraces: Linux
ColumnLimit: 0
IndentWidth: 4
SortIncludes: false
TabWidth: 4
UseTab: ForIndentation
